<%= form_for @escuela do |f| %>
  <% if @escuela.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@escuela.errors.count, "error") %> prohibited
      this escuela from being saved:</h2>
    <ul>
    <% @escuela.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>

  <p>
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>