<h1>Listing Escuelas</h1>
<%= link_to 'New Escuela', :action => :new %>



<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th></th>
    <th></th>
  </tr>

<% @escuelas.each do |post| %>
  <tr>
    <td><%= escuela.nombre %></td>
    <td><%= escuela.direccion %></td>
    <td><%= link_to 'Show', :action => :show, :id => escuela.id %></td>
    <td><%= link_to 'Edit', :action => :edit, :id => escuela.id %></td>
    <td><%= link_to 'Destroy', { :action => :destroy, :id => escuela.id }, :method => :delete, :data => { :confirm => 'Seguro ??' } %></td>
  </tr>
<% end %>
</table>










