<!DOCTYPE html>
<html>
<head>
  <title>Bariloche Vota</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "modules/exporting.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Rodrigo Dominguez <rorra@rorra.com.ar>">

  <meta name="description" content="Resultados y estadísticas de los votos realizados en el referendum de Bariloche 2013 para decidir la continuidad del intendente Goye" />
  <meta name="keywords" content="bariloche vota,votación,intendente,goya, 2013,destitución,jefe comunal,revocación,mandato" />

  <%- if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39939367-1', 'herokuapp.com');
      ga('send', 'pageview');

    </script>
  <%- end %>

  <%= yield(:head) %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Bariloche Vota</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= params[:action] == 'votes' ? 'active' : '' %>"><%= link_to("Votos", votes_path) %></li>
          <li class="<%= params[:action] == 'schools' ? 'active' : '' %>"><%= link_to("Escuelas escrutadas", schools_path) %></li>
          <li class="<%= params[:action] == 'grid' ? 'active' : '' %>"><%= link_to("Grilla", grid_path) %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <%= yield %>

  <div id="footer">
    <hr/>
    Desarrollado por <a href="mailto: rorra@rorra.com.ar">Rodrigo Dominguez</a> y <a href="javierbuilder@gmail.com">Javier Barcena</a>.
    <a href="https://github.com/rorra/bariloche_vota" target="_blank">Código Fuente</a>.
  </div>

</div> <!-- /container -->


</body>
</html>
